<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="socket.io-client/dist/socket.io.js"></script>
</head>
<body>
<textarea rows="20" cols="30" id="chat"></textarea><br>
<input type="text" id="user"><input type="button" value="msg submit" onclick="myOnClick()">
</body>
<script>
    const socket = io.connect('http://localhost:3100', {
        // cors: {origin: '*'}
    });

    socket.emit('join', {roomName: 'myroom'});

    socket.on('recMsg', function (data) {
        document.querySelector('#chat').value += data.comment + '\n';
    });

    function myOnClick() {
        const comment = document.querySelector('#user').value;
        socket.emit("msg", {comment});
        document.querySelector('#user').value = '';
    }
</script>
</html>